{% extends "layout.html" %}
{% block title %}Not Authorized{% endblock %}
{% block page %}Not Auhtorized{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col s12 m10 offset-m1">
            <div class="card-content">
                <h1>Error: You are not authorized to view this page</h1>
                <p>Create an account or log in with your credentials to gain full access to this website.</p>
                <p>If you wish to browse the website without an account click return to home.</p>
            </div>
            <div class="card-action">
                <a href="/" class="waves-effect waves-light btn">Return to Home</a>
                <a href="/login" class="waves-effect waves-light btn">Sign In</a>
                <a href="/signup" class="waves-effect waves-light btn">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}