{% extends "layout.html" %}
{% block title %}Exercises{% endblock %}
{% block page %}Exercises{% endblock %}


{% block styles %}

  .card{
    height: 300px;;
  }

{% endblock %}

{% block content %}

    <div class="row">
      <!--<form class="col s12" method="POST" action="/exercises">
        <div class = "input-field">
          <input placeholder="Search..." name = "exercise_name" type = "text">
          <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
        </div>
      </form>-->
      <form method = "GET" action = "/exercises/{{category.cat_id}}">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filter</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          {% for category in category %}
            <li><a href = "/exercises/{{category.cat_id}}">{{category.name}}</a></li>
          {% endfor %}
            <li><a href= "/exercises">No Filter</a></li>
        </ul>
      </form>
    </div>
    <div class = "grid-container">
      <div class = "row">
        {%for exercise in exercises%}
          <div class = "col s6">
            <div class="card">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><b>{{exercise.name}}</b><i class="material-icons right">more_vert</i></span>
                <p><b>Category: </b>{{exercise.category.name}}</p>
                {% if exercise.muscle %}
                  <p><b>Primary Muscle: </b>{%for muscle in exercise.muscle%}{{muscle.name}}{%endfor%}</p>
                {% endif %}
                {% if exercise.muscle_2 %}
                  <p><b>Secondary Muscle: </b>{%for muscle in exercise.muscle_2%}{{muscle.name}} {%endfor%}</p>
                {% endif %}
                {% if exercise.equipment %}
                  <p><b>Equipment: </b>{%for equip in exercise.equipment %}{{equip.name}} {%endfor%}</p>
                {% endif %}
                <form class = "col s12 offset-s10" method = "GET" action="/workouts/{{ exercise.exercise_api_id }}">
                  <input type="hidden" name="exercise_id" value="{{ exercise.exercise_api_id }}">
                  <button class="btn-floating halfway waves-effect waves-light red" type="submit"><i class="material-icons">add</i></button>
                </form>

              </div>
              
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><b>{{exercise.name}}</b><i class="material-icons right">close</i></span>
                <p>{{exercise.description}}</p>
              </div>
            </div>
          </div>
        {%endfor%}
      </div>  
    </div>

{% endblock%}


  