{% extends "layout.html" %}
{% block title %}Exercises{% endblock %}
{% block page %}Exercises{% endblock %}


{% block styles %}

  .card {
    height: 300px;
  }

{% endblock %}

{% block content %}

    <div class="row">
      


      <form method="GET" action="{{ url_for('exercise_views.get_exercise_page') }}">
        <input type="hidden" name="page" value="{{ page }}">
        <a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="medium material-icons">sort</i></a>
        <ul id='dropdown1' class='dropdown-content'>
            {% for cat in category %}
                <li><a href="{{ url_for('exercise_views.get_exercise_page', page=page, cat_id=cat.cat_id) }}">{{ cat.name }}</a></li>
            {% endfor %}
            <li><a href="{{ url_for('exercise_views.get_exercise_page', page=page) }}">No Filter</a></li>
        </ul>
    </form>


      
    </div>
    <div class = "grid-container">
      <div class = "row">
    {%for exer in exercises%}
    
        {%for exercise in exercise_data%}
          {%if exercise.exercise_api_id == exer.id%}
          <div class = "col s6">
            <div class="card">
              <div class="card-content">
                
                
                <span class="card-title activator text-darken-4"><b>{{exercise.name}}</b><i class="material-icons right">more_vert</i></span>
                
                <p><b>Category: </b>{{exercise.category.name}}</p>
                {% if exercise.muscle %}
                  <p><b>Primary Muscles: </b>{%for muscle in exercise.muscle%}{{muscle.name}}  {%endfor%}</p>
                {% endif %}
                {% if exercise.muscle_2 %}
                  <p><b>Secondary Muscles: </b>{%for muscle in exercise.muscle_2%}{{muscle.name}}  {%endfor%}</p>
                {% endif %}
                {% if exercise.equipment %}
                  <p><b>Equipment: </b>{%for equip in exercise.equipment %}{{equip.name}}  {%endfor%}</p>
                {% endif %}
                
                {% if is_authenticated %}
                  <a href="/workouts/{{ exercise.exercise_api_id }}" class="btn-floating btn-large cyan pulse right-bottom" type="submit" style="position: absolute;
                  bottom: 12px;
                  right: 12px;"><i class="material-icons">add</i></a>
                {% else %}
                    <a href="/login" class="btn-floating btn-large cyan pulse right-bottom" style="position: absolute;
                    bottom: 12px;
                    right: 12px;"><i class="material-icons">add</i></a>
                {% endif %}
                

              </div>
              
              <div class="card-reveal" style="background-color: #7a7a7a;">
                <span class="card-title text-darken-4"><b>{{exercise.name}}</b><i class="material-icons right">close</i></span>
                <p>{{exercise.description}}</p>
              </div>
            </div>
          </div>
          {%endif%}
        {%endfor%}
      
    {%endfor%}
  </div>  
</div>

<div class="row">
  <ul class="pagination col s12 center">
      {% if page == 1 %}
          <li class="page-item disabled">
              
          </li>
      {% else %}
          <li class="page-item">
              <a class="page-link" href="{{ url_for('exercise_views.get_exercise_page', page=page-1) }}"><i class="material-icons">chevron_left</i></a>
          </li>
      {% endif %}

      
      
      {% if total_pages <= 9 %}
          {% for page_num in range(1, total_pages + 1) %}
              <li class="page-item {% if page_num == page %}active pulse {% endif %}">
                  <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
              </li>
          {% endfor %}
      {% else %}
          {% if page < 6 %}
              {% for page_num in range(1, 6) %}
                  <li class="page-item {% if page_num == page %}active pulse {% endif %} cyan">
                      <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
                  </li>
              {% endfor %}
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              {% for page_num in range(total_pages - 2, total_pages + 1) %}
                  <li class="page-item {% if page_num == page %}active pulse {% endif %}">
                      <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
                  </li>
              {% endfor %}
          {% elif page > total_pages - 5 %}
              {% for page_num in range(total_pages - 4, total_pages + 1) %}
                  <li class="page-item {% if page_num == page %}active pulse {% endif %} cyan">
                      <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
                  </li>
              {% endfor %}
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              {% for page_num in range(1, 6) %}
                  <li class="page-item {% if page_num == page %}active pulse {% endif %}">
                      <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
                  </li>
              {% endfor %}
          {% else %}
              <li class="page-item disabled cyan"><a class="page-link" href="#">...</a></li>
              {% for page_num in range(page - 2, page + 3) %}
                  <li class="page-item {% if page_num == page %}active pulse {% endif %}">
                      <a class="page-link cyan" href="{{ url_for('exercise_views.get_exercise_page', page=page_num) }}">{{ page_num }}</a>
                  </li>
              {% endfor %}
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          {% endif %}
      {% endif %}
      
      {% if page == total_pages %}
          <li class="page-item disabled">
              
          </li>
      {% else %}
          <li class="page-item">
              <a class="page-link" href="{{ url_for('exercise_views.get_exercise_page', page=page+1) }}"><i class="material-icons">chevron_right</i></a>
          </li>
      {% endif %}
  </ul>
</div>

{% endblock%}


  