{% extends "layout.html" %}
{% block title %}ISE Fitness{% endblock %}
{% block page %}ISE Fitness{% endblock %}

{{ super() }}

    {% block styles %}
        .container {
            padding: 0px 0px 0px 0px;
            }
    {% endblock %}

{% block content %}

    

    
    <div class="carousel" style="width: 100%;">
        <a class="carousel-item" href="#one!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1544033527-b192daee1f5b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#two!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#three!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1597076545399-91a3ff0e71b3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#four!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1526401485004-46910ecc8e51?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGd5bSUyMGVxdWlwbWVudHxlbnwwfHwwfHx8MA%3D%3D"></a>
        <a class="carousel-item" href="#five!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1620188526357-ff08e03da266?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bSUyMGVxdWlwbWVudHxlbnwwfHwwfHx8MA%3D%3D"></a>
    </div>
    
    

{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {});
        });
    </script>
{% endblock %}