{% extends "layout.html" %}
{% block title %}ISE Fitness{% endblock %}
{% block page %}ISE Fitness{% endblock %}

{{ super() }}

    {% block styles %}
        .container {
            padding: 0px 0px 0px 0px;
            }
    {% endblock %}

{% block content %}

    

    <div class="center">
        <h4>Welcome to ISE Fitness</h4>
    </div>
    
    <div class="carousel" style="width: 100%;">
        <a class="carousel-item" href="#one!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1544033527-b192daee1f5b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#two!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#three!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1597076545399-91a3ff0e71b3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></a>
        <a class="carousel-item" href="#four!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1526401485004-46910ecc8e51?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGd5bSUyMGVxdWlwbWVudHxlbnwwfHwwfHx8MA%3D%3D"></a>
        <a class="carousel-item" href="#five!" style="width: 50%; height:70% "><img src="https://images.unsplash.com/photo-1620188526357-ff08e03da266?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bSUyMGVxdWlwbWVudHxlbnwwfHwwfHx8MA%3D%3D"></a>
    </div>

    <div class="center">
        <h5>Get ready to take your fitness journey to the next level with our comprehensive workout resources. Whether you're a seasoned gym-goer or just starting out, we've got everything you need to achieve your fitness goals.</h5>
    </div>

    <div class="container">
        <p>Explore Our Features:</p>
        <ul>
            <li>Extensive Exercise Database: Access thousands of exercises targeting different muscle groups and equipment types.</li>
            <li>Customizable Workouts: Create personalized workout routines tailored to your specific goals and preferences.</li>
            <li>Create Workout Routines: Choose from a wide array of exercises and customize your personal workout routine to fit your goals.</li>
            <li>Track Your Progress: Keep track of all your workouts or specific exercises within the workouts so you never lose sight of the goal.</li>
            <li>Remove: Easily remove exercises that are no longer suitable for you with no hassle.</li>
        </ul>
    </div>

    <div class="center">
        <p>Start Your Fitness Journey Today!</p>
        <p>Ready to get started? Sign up now and unlock a world of fitness possibilities. Whether you're aiming to build muscle, lose weight, or improve your overall health, we're here to help you succeed.</p>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {});
        });
    </script>
{% endblock %}