{% extends "layout.html" %}
{% block title %} {{sel_workout.name}} {% endblock %}
{% block page %} {{sel_workout.name}} {% endblock %}

{{ super() }}


{% block styles %}

  .btn-flat {
    padding: 0px 0px;
  }

{% endblock %}


{% block content %}

<div>
  <a href="/workouts" class="btn-flat"><i class="small material-icons">arrow_back</i></a>
  <a href="/workouts" class="btn-flat">Back</a>
</div>


{%if btn_click %}


{%if current_user.workout%}

{%for workout in current_user.workout%}
  {%if sel_workout.work_id == workout.work_id%}
    
      
    <table class="highlight">
      <thead>
        <tr>
            <th><b>Exercise Name</b></th>
            <th><b>Sets</b></th>
            <th><b>Reps</b></th>
            <th></th>
        </tr>
      </thead>
      
      <tbody>
        {% if workout.sets_reps %}
          {%for link in workout.sets_reps%}

            {%if sel_exercise.exercise_api_id == link.exercise_id%}
          
            <tr>
              {%for exer in link.exercise%}
                {%if exer.exercise_api_id == link.exercise_id%}
                    <td>{{exer.name}} </td>
                {%endif%}
              {%endfor%}
              <form method = "POST" action = "/workouts/info/edit/post/{{sel_workout.work_id}}/{{link.exercise_id}}">
              <td> <div class="row">
                <div class="input-field col m6">
                  <input type="number" name="sets" value="{{link.sets}}">
                  <label for="sets">Sets</label>
                </div></td>
              <td><div class="input-field col m6">
                <input type="number" name="reps" value="{{link.reps}}">
                <label for="reps">Reps</label>
              </div></td>
              
              <td><a href="/workouts/info/delete/{{sel_workout.work_id}}/{{link.exercise_id}}"><i class="material-icons">delete</i></a></td>
              <td><button type="submit" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></button></td>
            </form>
              
            </tr>
            {%endif%}
          {%endfor%}
        {%endif%}
      
      </tbody>
    </table>
  
  {%endif%}
{%endfor%}
{%endif%}









{%else%}
  
    
      {%if current_user.workout%}

        {%for workout in current_user.workout%}
          {%if sel_workout.work_id == workout.work_id%}
              
            <table class="highlight">
              <thead>
                <tr>
                    <th><b>Exercise Name</b></th>
                    <th><b>Sets</b></th>
                    <th><b>Reps</b></th>
                    <th></th>
                </tr>
              </thead>
              
              <tbody>
                {% if workout.sets_reps %}
                  {%for link in workout.sets_reps%}
                    <tr>
                      {%for exer in link.exercise%}
                        {%if exer.exercise_api_id == link.exercise_id%}
                            <td>{{exer.name}}</td>
                        {%endif%}
                      {%endfor%}
                      
                      <td>{{link.sets}}</td>
                      <td>{{link.reps}}</td>
                      <td><a href="/workouts/info/delete/{{sel_workout.work_id}}/{{link.exercise_id}}"><i class="material-icons">delete</i></a></td>
                      <td><a href="/workouts/info/edit/{{sel_workout.work_id}}/{{link.exercise_id}}"><i class="material-icons">edit</i></a></td>
                    </tr>
                  {%endfor%}
                {%endif%}
              
              </tbody>
            </table>
          
          {%endif%}
        {%endfor%}
      {%endif%}
    

{%endif%}

{% endblock %}