{% extends "layout.html" %}
{% block title %}Workouts{% endblock %}
{% block page %}Workouts{% endblock %}

{{ super() }}

{% block content %}


<form class="col s12" method="POST" action="/workouts">
        
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="workout name" name="exer_id" type="text">
        <label for="exer_id"></label>
      </div>
    </div>
  
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light right purple" type="submit" name="action">Add to Workout</button>
      </div>
    </div> 

  </form>

  {%if sel_exercise %}
  <form class="col s12" method="POST" action="/add_workout_exercise">
    <input type="hidden" name="exercise_id" value="{{sel_exercise.exercise_api_id}}">
    <select name="workout_id">
        {% for workout in current_user.workout %}
        <option value="{{ workout.work_id }}">{{ workout.name }}</option>
        {% endfor %}
    </select>
    <button class="btn waves-effect waves-light right purple" type="submit" name="action">Add exercise to workout</button>
</form>

  {%endif%}

  {%if current_user.workout%}

      {%for workout in current_user.workout%}
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Workout ID: {{workout.work_id}}</span>
              <p><p>Workout name: {{workout.name}} </p>
              <p>Workout description: {{workout.description}} </p></p>

            </div>
            <div class="card-action">
              <!--{% for testing in workout.sets_reps %}
                {% if testing.exercise_id ==  workout.exercise_id%}
                  <p>Value of testing.exercise_id: {{testing.exercise_id}}</p>
                  <p>Value of workout.exercise_id: {{workout.exercise_id}}</p>
                  <p>Sets: {{ testing.sets }}</p>
                  <p>Reps: {{ testing.reps }}</p>
                {% endif %}
              {% endfor %}-->
              




            
                  <!-- {% if workout.sets_reps %}
                      {%for link in workout.sets_reps%}

                      <p><b>Reps for the exercise: </b>{{link.reps}}</p>
                      <p><b>Sets for the exercise: </b>{{link.sets}}</p>

                        {%for exer in link.exercise%}
                            {%if exer.exercise_api_id == link.exercise_id%}
                                <p><b>Exercise name: </b>{{exer.name}}</p>
                            {%endif%}
                        {%endfor%}
                          
                      {%endfor%}
                  
                  {% endif %} -->
              
              <a href="/workout_info " class="btn">click here</a>
                
            </a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    {%else%}
        <p>User has no workouts yet</p>
    {%endif%}

  <!--{%for workout_exercise_entry in test%}
    
    <p>Exercise API ID: {{workout_exercise_entry.exercise_id}}</p>

    <p>Sets: {{workout_exercise_entry.sets}},</p>
    <p>Reps: {{workout_exercise_entry.reps}}</p>
    <p>Exercise name: {{workout_exercise_entry.exercise.name}} </p> 

   {% for musc in workout_exercise_entry.exercise %}
                          <p>Exercise name:{{musc.name }}</p>
                      {% endfor %}
    
        {%endfor%}

    <p>Testing selected exercise values</p>

    <p>Exercise API:{{sel_exercise.exercise_api_id}} </p>-->

{% endblock %}
