{% extends "layout.html" %}
{% block title %}Workouts{% endblock %}
{% block page %}Workouts{% endblock %}

{{ super() }}

{% block styles %}

  h5 {
    text-align: center;
  }

{% endblock %}


{% block content %}

  <h5 style="text-align: left;">Create Workout</h5>

  <form class="col s12" method="POST" action="/workouts">
    <div class="row">
      <div class="input-field col m3">
        <input placeholder="Workout Name" name="name" type="text">
        <label for="name">Name</label>
      </div>

      <div class="input-field col m7">
        <input placeholder="Workout Description" name="desc" type="text">
        <label for="desc">Description</label>
      </div>

      <div class="input-field col m2">
        <button class="btn waves-effect waves-light right purple" type="submit" name="action">Create</button>
      </div>
    </div>
  </form>

  <div class="row">
    <section class="col s12 m6">

      <h5>Your Workouts</h5>
      <br>

      {%if current_user.workout%}
        {%for workout in current_user.workout%}

          <div class="row" style="padding-left: 20px; padding-right: 20px;">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">{{workout.name}}</span>
                <p>{{workout.description}}</p>
                <p>{{workout.work_id}}</p>
              </div>
              <div class="card-action">
                <a href="/workouts/info/{{workout.work_id}}" class="btn">Exercises</a>
                <a href="/workouts/delete/{{workout.work_id}}" class="btn"><i class="material-icons">delete</i></a>
              </div>
            </div>
          </div>

        {%endfor%}
      {%else%}

        <p>You have no workouts yet</p>
      
      {%endif%}

    </section>

    <section class="col s12 m6">

      {%if sel_exercise %}
        
        <h5>Add Exercise</h5>

        <form method="POST" action="/workouts/add" style="padding-left: 20px; padding-right: 20px;">
          <input type="hidden" name="exercise_id" value="{{sel_exercise.exercise_api_id}}">
          
          <div class="row">
              <select name="workout_id">
                {% for workout in current_user.workout %}
                <option value="{{ workout.work_id }}">{{ workout.name }}</option>
                {% endfor %}
              </select>
          </div>

          <div class="row">
            <div class="input-field col m6">
              <input type="number" name="sets" value="1">
              <label for="sets">Sets</label>
            </div>

            <div class="input-field col m6">
              <input type="number" name="reps" value="1">
              <label for="reps">Reps</label>
            </div>
          </div>

          <div class="row">
              <button class="btn waves-effect waves-light right purple" type="submit" name="action"><i class="material-icons">add</i></button>
          </div>
        </form>

      {%endif%}

    </section>
  </div>

{% endblock %}